@using Lab3.Models

<div style="background-color: #f7f7f7; padding: 20px;">
    <h2>Error</h2>
    <p>An unexpected error occurred. Please try again later.</p>
    <p>If the problem persists, please contact the support team Christopher Decarie-Dawson.</p>
</div>
