@{
    ViewBag.Title = "Singing..La..La..La";
    string gender = "his";
}
@*Creates the link between the seen button and the Sing.*@
@using (Html.BeginForm("SongForm", "Home"))
{
    <button type="submit">Play Again</button>
}
@*Sings the very poor song I wrote up to include monkeys and the beer bottles songs, Sorry for the lack of rymes*@
@for (var i = @ViewBag.monkeyCount; i >= 0; i--)
{
    @if (i % 2 == 0)
    {
        gender = "her";
    }
    else
    {
        gender = "his";
    }
    @if (i == 0)
    {
        <p>
            No little monkeys hanging on the wall<br />
            None fell off and hit their head<br />
            Zookeeper called the Handler and the Zookeeper said <br />
            "Put those monkeys back on that wall!" <br />
        </p>
    }
    else if (i == 1)
    {
        <p>
            1 little monkey hanging on the wall<br />
            It fell off and hit @gender head<br />
            Zookeeper called the Handler and the Zookeeper said <br />
            "No more monkeys hanging on the wall!" <br />
        </p>
    }
    else
    {
        <p>
            @i little monkeys hanging on the wall<br />
            One fell off and hit @gender head<br />
            Zookeeper called the Handler and the Zookeeper said <br />
            "No more monkeys hanging on the wall!" <br />
        </p>
    }
}